body{
    margin: 0;
    padding: 0;
    background-image: url(pic1.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.login{
        width: 300px;
        height: 375px;
        background:rgb(15, 15, 15);
        left: 35%;
        top: 20%;
        position: relative;
        box-sizing: border-box;
        padding: 40px 30px;
        border-style: solid,black,1px;
    border-radius: 20px;

}

.logo{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        left: 32%;
        top: -15%;
        position: absolute;
       box-sizing: border-box;
        
}

h1{
    margin-left: 70px;
    color: ghostwhite;
    margin-bottom: 5px;
}

.login p{

    font-weight: bold;
    color: honeydew;
    margin-bottom: 10px;

}

.login input{

    width: 100%;
    margin-bottom: 5px;
}

.login input[type="text"],input[type="password"]{

    border: none;
    border-bottom: 1px,black,solid;
    background: transparent;
    height: 40px;
    color: white;
    font-size: 15px;
}
.login input[type="submit"]{
    height: 40px;
    border: none;
    background-color:tomato;
    font-weight: bold;
    font-size: 20px;
    border-style: solid,black,1px;
    border-radius: 20px;

}

.login input[type="submit"]:hover{

    cursor: pointer;
    background-color: red;
}

.login a{

    color: white;
    font-size: 12px;
}

.login a:hover{
    cursor: pointer;
    color: goldenrod;
}


.us1, .ps1{
    font-size: 12px;
    color: red;
}


ul li{
    position: relative;
    border: 1px,solid,#fff;
    height: 20px;
    width: 20px;
    list-style: none;
    opacity: 0;
    background: whitesmoke;

}
.square li{
    top:50px;
    left:500px;
    animation: square 10s linear infinite;
}

.square li:nth-child(2){
    top: 10%;
    left: 80%;
    animation-delay: 2s;
}

.square li:nth-child(3){
    top: 80%;
    left: 10%;
    animation-delay: 4s;
}

.square li:nth-child(4){
    top: 300px;
    left: 800px;
    animation-delay: 6s;
}
.square li:nth-child(5){
    top: 10vw;
    left: 10vh;
    animation-delay: 8s;
}

@keyframes square{
    0%{
        transform: scale(0) rotateY(0deg) ;
        opacity: 1;
    }
    80%{
        transform: scale(5) rotateY(1000deg);
        opacity: 0;
    }
}