body{
    margin: 0px;
    padding: 0px;
    position:relative;
    background-image: url("pic1.jpg");
   background-position: center;
   background-size: cover;
   font-family: sans-serif;
}

.signup{
    position: relative;
    height: 73%;
    width: 30%; 
    background-color: black ;
    opacity: 0.8;
    left: 35%;
    top:10%;
    padding: 40px 30px;
    border-style: solid,black,1px;
    border-radius: 20px;
    
   
}

.signup h2{
    color: white;
    margin-left: 70px;
    margin-bottom: 15px;
    top: -1%;
    position:absolute;
}

.signup input{
    width: 100%;
    margin-bottom: 5px;
}
.signup input[type="text"],input[type="number"]{

    border: thin;
    
    border-bottom: 1px,rgb(10, 10, 10),solid;
    background: transparent;
    height: 35px;
    color:white;
    font-size: 15px;
}

.signup input[type="submit"]{
    height: 40px;
    border: none;
    background-color:rgb(77, 228, 109);
    font-weight: bold;
    font-size: 20px;
    border-style: solid,black,1px;
    border-radius: 20px;
    

}

.signup p{

    color: white;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 15px;

}

.signup input[type="submit"]:hover{

    cursor: pointer;
    background-color: rgb(1, 255, 14);
}
.s1{
    font-size: 12px;
    color: red;
}


ul li{
    position: relative;
    border: 1px,solid,#fff;
    height: 20px;
    width: 20px;
    list-style: none;
    opacity: 0;
    background: whitesmoke;

}
.square li{
    top:50px;
    left:500px;
    animation: square 10s linear infinite;
}

.square li:nth-child(2){
    top: 10%;
    left: 80%;
    animation-delay: 2s;
}

.square li:nth-child(3){
    top: 80%;
    left: 10%;
    animation-delay: 4s;
}

.square li:nth-child(4){
    top: 300px;
    left: 800px;
    animation-delay: 6s;
}
.square li:nth-child(5){
    top: 250px;
    left: 50px;
    animation-delay: 8s;
}

@keyframes square{
    0%{
        transform: scale(0) rotateY(0deg) ;
        opacity: 1;
    }
    80%{
        transform: scale(5) rotateY(1000deg);
        opacity: 0;
    }
}